<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swapzy - Log in</title>
    <link rel="stylesheet" href="css\login.css"> 
</head>
<body>
    <div class="login-container">
        <!-- Log in Text -->
        <h1>Log in here</h1>

        <!-- Div for error message display -->
        <div id="error-message" class="error-message" style="display: none;"></div>
        
        <form id="login-form" action="/login" method="post">
            <input type="text" autocomplete="off" name="username" class="input" placeholder="Username">
            <br><br>
            <input type="password" autocomplete="off" name="password" class="input" placeholder="Password">
            <br><br>
            <button type="submit" class="btn">Log in</button>
        </form>

        <p class="text">Or</p>

        <!-- Google Login Button -->
        <button class="google-btn">
            <img src="images/google_logo.png" alt="Google Logo" class="google-icon">
            Continue with Google
        </button>

        <!-- Registration Prompt -->
        <p class="text">Do not have an account?</p>
        <a href="signup.html" class="register-link">Sign up</a>
        
    </div>

    <script src="javascript/login.js"></script>
</body>
</html>
