<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swapzy - Main Page</title>
    <link rel="stylesheet" href="css/my-products.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <!-- Header Section-->
    <header class="header">
        <!-- Logo Container-->
        <a href="/" class="logo-container">
            <img src="images/swapzy_logo.png" alt="Swapzy Logo" class="logo">
            <span class="logo-text">SWAPZY</span> 
        </a>

        <!-- Navigation Buttons -->
        <nav class="nav-buttons">
            <a class="nav-btn" id="fav-button">
                <img src="images/heart.png">
                <span class="btn-text">Favorites</span>
            </a>
            <div class="profile-dropdown-container" id="profile-dropdown-container">
                <a class="nav-btn" id="profile-button">
                    <img src="images/profile.png" alt="Profile Icon">
                    <span class="btn-text">Profile</span>
                </a>
            </div>
            <a class="nav-btn" id="sell-button">
                <img src="images/sell.png" alt="Sell Icon">
                <span class="btn-text">Sell</span>
            </a>
        </nav>
    </header>

    <!-- Categories Navbar -->
    <nav class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Categories</button>
            <div class="dropdown-content" id="category-list">
                <!-- Dynamic categories from backend will be loaded here -->
            </div>
        </div>
        <!-- Static Links to Categories -->
        <div class="static-links"></div>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        <!-- My Products Header Section -->
        <div class="my-products-header">
            <h1 class="title">Your Products</h1>
        </div>
        <div class="product-list">
            <div class="product-card"></div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-logo-container">
            <img src="images/swapzy_logo.png" alt="Swapzy Logo" class="footer-logo">
            <span class="footer-logo-text">SWAPZY</span>
        </div>

        <!-- Footer info here -->

    </footer>

    <script src="javascript/nav-bar.js"></script>
    <script src="javascript/session-expiry.js"></script>
    <script src="javascript/my-products.js"></script>
</body>
</html>