<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swapzy - Main Page</title>
    <link rel="stylesheet" href="css/settings.css">

    <!-- Leaflet.js for maps API -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
</head>
<body>
    <script src="javascript/check-auth.js"></script>
    
    <!-- Header Section-->
    <header class="header">
        <!-- Logo Container-->
        <a href="/" class="logo-container">
            <img src="images/swapzy_logo.png" alt="Swapzy Logo" class="logo">
            <span class="logo-text">SWAPZY</span> 
        </a>

        <!-- Navigation Buttons -->
        <nav class="nav-buttons">
            <a class="nav-btn" id="fav-button">
                <img src="images/heart.png">
                <span class="btn-text">Favorites</span>
            </a>
            <div class="profile-dropdown-container" id="profile-dropdown-container">
                <a class="nav-btn" id="profile-button">
                    <img src="images/profile.png" alt="Profile Icon">
                    <span class="btn-text">Profile</span>
                </a>
            </div>
            <a class="nav-btn" id="sell-button">
                <img src="images/sell.png" alt="Sell Icon">
                <span class="btn-text">Sell</span>
            </a>
        </nav>
    </header>

    <!-- Categories Navbar -->
    <nav class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Categories</button>
            <div class="dropdown-content" id="category-list">
                <!-- Dynamic categories from backend will be loaded here -->
            </div>
        </div>
        <!-- Static Links to Categories -->
        <div class="static-links"></div>
    </nav>

    <!-- Main Content -->

    <!-- Settings Header Section -->
    <div class="settings-header">
        <h1 class="title">Your Profile</h1>
        <button class="logout-button" onclick="logOut()">Log Out</button>
    </div>

    <!-- Popup for information display -->
    <div class="popup" id="info-popup">
        <div class="popup-content">
            <p id="info-popup-message">Message here</p>
            <button id="close-popup">Close</button>
        </div>
    </div>

    <!-- Profile Pic Section -->
    <section class="profile-pic-section">
        <h2 class="section-title">Profile Pic</h2>
        <div class="profile-pic-container">
            <img src="images/profile_picture_sample.jpg" alt="Profile Picture" class="profile-pic" id="profile-pic">
            <button class="change-image-btn" onclick="openChangeImagePopup()">Change Image</button>
        </div>
    </section>

    <!-- Popup for changing image -->
    <!-- <div class="popup" id="popup">
        <div class="popup-content">
            <span class="close-btn" onclick="updateProfilePic()">×</span>
            <h2 id="popup-title"></h2>
            <p id="popup-info"></p>
            <input type="text" placeholder="Image URL" class="url-input" id="image-url">
            <input type="password" placeholder="Introduce password" class="url-input" id="popup-passwd">
        </div>
    </div> -->
    <div class="popup" id="popup">
        <div class="popup-content">
            <span class="close-btn" onclick="closePopup()">×</span>
            <h2 id="popup-title"></h2>
            <p id="popup-info" style="font-size: 20px;"></p>
            
            <!-- Div for error message display -->
            <div id="error-message" class="error-message" style="display: none;"></div>
        
            <input type="text" placeholder="Image URL" class="url-input" id="image-url" style="display: none;">
            <input type="password" placeholder="Introduce password" class="url-input" id="popup-passwd" style="display: none;">
            <button class="confirm-btn" id="confirm-btn" onclick="confirmAction()">Confirm</button>
        </div>
    </div>

    <!-- Public Info Section -->
    <section class="public-info-section">
        <h2 class="section-title">Public Info</h2>
        <div class="public-info-container">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="User's username" readonly>
            </div>

            <div class="input-group">
                <label for="location">Location</label>
                <input type="text" id="location" name="location" placeholder="User's location">
            </div>

            <!-- Location Map -->
            <p class="location-title">Map</p>
            <div class="location-map">
                <div class="map" id="map"></div>
            </div>
        </div>
    </section>

    <!-- Account Section -->
    <section class="account-section">
        <h2 class="section-title">Account Info</h2>
        <div class="account-container">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="User's email">
            </div>
            <div class="input-group">
                <label for="password">New Password</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="input-group">
                <label for="password">Repeat Password</label>
                <input type="password" id="repeat-password" name="repeat-password">
            </div>
        </div>
    </section>

    <!-- Buttons -->
    <div class="buttons-section">
        <button class="delete-account-button" onclick="openDeleteAccountPopup()">Delete Account</button>
        <button class="save-changes-button" onclick="updateUserInfo()">Save Changes</button>
    </div>

    <script src="javascript/settings.js"></script>
    <script src="javascript/nav-bar.js"></script>
    <script src="javascript/session-expiry.js"></script>

</body>
</html>