<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swapzy - Create Account</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="signup-container">
        <!-- Create Account Text -->
        <h1>Create an Account</h1>

        <!-- Div for error message display -->
        <div id="error-message" class="error-message" style="display: none;"></div>

        <form id="signup-form" action="/register" method="post">
            <input type="text" autocomplete="off" name="username" class="input" placeholder="Username">
            <br><br>
            <input type="text" autocomplete="off" name="email" class="input" placeholder="Email">
            <br><br>
            <input type="password" autocomplete="off" name="password" class="input" placeholder="Password">
            <br><br>
            <input type="password" autocomplete="off" name="repeat_password" class="input" placeholder="Repeat Password">
            <br><br>
            <button type="submit" class="btn">Create Account</button>
        </form>
    </div>

    <script src="javascript/signup.js"></script>
</body>
</html>
