<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swapzy - Log in</title>
    <link rel="stylesheet" href="..\css\login.css"> 
</head>
<body>
    <div class="login-container">
        <!-- Log in Text -->
        <h1>Log in here</h1>
        
        <form action="/login" method="post">
            <input type="text" autocomplete="off" name="text" class="input" placeholder="Username">
            <br><br>
            <input type="password" autocomplete="off" name="text" class="input" placeholder="Password">
            <br><br>
            <a href="main.html" class="btn">Log in</a>
        </form>
        
    </div>
</body>
</html>
