@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dongle",sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    color: #232528;
    margin-bottom: 10px;
}

/*code from https://uiverse.io/Praashoo7/tame-sloth-39*/
.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
.input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
}

.btn {
    background-color: #232528;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #a44cd3;
}

.google-btn {
    background-color: #ffffff;
    color: #606060;
    border: 1px solid #606060;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.google-btn:hover {
    background-color: #f5f5f5;
}

.google-icon {
    width: 20px;
    height: 20px;
}

.text {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #232528;
}

.register-link {
    color: #232528;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.register-link:hover {
    color: #a44cd3;
}

