@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dongle", sans-serif;
    background-color: #f0f0f0;
}

/*Main Title Styles*/
.title-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}

.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #232528;
    margin: 0;
    line-height: 1.2;
}

/* Search Input and Button Styles */
/* From Uiverse.io by garerim https://uiverse.io/garerim/rare-moth-56 */ 
.container-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto; /* Centers and adds vertical margin */
    width: 60%;
  }
  
  .input {
    width: 100%;
    padding: 10px 0px 10px 40px;
    border-radius: 50px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    font-size: 16px;
  }
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%); /* Centers the icon vertically */
  }
  
  .input:focus {
    opacity: 1;
    width: 100%; /* Expands input on focus */
  }

  .search-btn {
    padding: 10px 20px;
    margin-left: 5px;
    border-radius: 50px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.search-btn:hover {
    background-color: #a44cd3;
}

.results-track {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

.message-text {
    font-size: 25px;
    color: #555;
    text-align: center;
}

/* General Styles for Smaller Screens */
@media (max-width: 768px) {

    /* Title Section */
    .title-content {
        padding: 30px 20px;
    }

    .main-title {
        font-size: 2rem;
    }

    /* Search Input */
    .container-input {
        width: 90%; /* Make the search bar take more space */
        margin: 20px auto;
    }
}