@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dongle", sans-serif;
  background-color: #f0f0f0;
}

/*Main content*/

/*Product Card Styles*/
.product-card-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 50px auto;
  position: relative;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.user-name {
  font-size: 1.6rem;
  font-weight: bold;
}

.profile-image:hover, .user-name:hover {
  cursor: pointer;
}

/* Main Product Heart */
/* From Uiverse.io by catraco https://uiverse.io/catraco/perfect-panda-49 */ 
  .main-heart-container {
    --heart-color: rgb(228, 84, 84);
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50px;
    right: 50px;
    cursor: pointer;
    transition: .3s;
  }
  
  .main-heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }
  
  .main-heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-heart-container .svg-outline,
          .main-heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
  }
  
  .main-heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
  }
  
  .main-heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate .5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: var(--heart-color);
    fill: var(--heart-color);
    stroke-width: 2px;
  }
  
  .main-heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block
  }
  
  .main-heart-container .checkbox:checked~.svg-container .svg-celebrate {
    display: block
  }
  
  @keyframes keyframes-svg-filled {
    0% {
      transform: scale(0);
    }
  
    25% {
      transform: scale(1.2);
    }
  
    50% {
      transform: scale(1);
      filter: brightness(1.5);
    }
  }
  
  @keyframes keyframes-svg-celebrate {
    0% {
      transform: scale(0);
    }
  
    50% {
      opacity: 1;
      filter: brightness(1.5);
    }
  
    100% {
      transform: scale(1.4);
      opacity: 0;
      display: none;
    }
  }


/* Product Details Section */
.product-image-details {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin: auto;
}

.product-info-details {
  display: flex;
  flex-direction: column;
}

.product-price-details {
  font-size: 3em;
  font-weight: bold;
}

.product-title-details {
  font-size: 2.5em;
  font-weight: bold;
}

.product-status-category-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px 0;
}

.product-category-details, .product-status-details {
  background-color: #f0f0f0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1.5em;
  color: #333;
  text-align: center;
  /*min-width: 150px; */
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-description-details {
  margin-top: 15px;
  font-size: 1.5em;
  color: #666;
}

/* Location Map */
.location-map {
  width: 100%;
  height: 404px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1em;
  margin-top: none;
}

.location-map .map {
  height: 400px;
  width: 100%;
}

.location-title {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
}

.results-track {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

@media (max-width: 992px) {
  /* Product Card */
  .product-card-details {
    width: 90%; /* Reduce el ancho en pantallas más pequeñas */
  }
}