@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dongle", sans-serif;
    background-color: #f0f0f0;
    
}

/*Header Styles*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 10%;
}

.logo-text {
    font-size: 3rem;
    color: #a44cd3;
    font-weight: bold;
}

    /* Search Input and Button Styles */
    /* From Uiverse.io by garerim https://uiverse.io/garerim/rare-moth-56 */ 
.container-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto; /* Centers and adds vertical margin */
    width: 40%;
  }
  
  .input {
    width: 100%;
    padding: 10px 0px 10px 40px;
    border-radius: 50px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    font-size: 16px;
  }
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%); /* Centers the icon vertically */
  }
  
  .input:focus {
    opacity: 1;
    width: 100%; /* Expands input on focus */
  }

  .search-btn {
    padding: 10px 20px;
    margin-left: 5px;
    border-radius: 50px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.search-btn:hover {
    background-color: #a44cd3;
}

.nav-buttons {
    display: flex;
    gap: 10px; /* Adds space between navigation buttons */
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: auto;
    height: 40px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-text {
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.nav-btn img {
    width: 30px;
    height: 30px;
    transition: filter 0.3s ease;
}

.nav-btn span {
    transition: filter 0.4s ease;
}

.nav-btn:hover {
    background-color: #a44cd3;
}

.nav-btn:hover img {
    filter: brightness(0) invert(1);
}

.nav-btn:hover span{
    filter: brightness(0) invert(1);
}

/*Navbar Styles*/

.navbar {
    display: flex;
    align-items: center;
    background-color: #232528;
    padding: 10px 20px;
}

.navbar a {
    font-size: 1.5rem;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
}

.navbar a:hover {
    background-color: #a44cd3;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 0;
    width: auto;
}

.dropbtn {
    display: inline-block;
    font-family: "Dongle", sans-serif;
    background-color: #232528;
    color: white;
    font-size: 1.5rem;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #232528;
    min-width: 100%;
    z-index: 1;
    left: 0;
    top: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 5px;    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #f1f1f1;
    font-size: 1.2rem;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    margin: 2px 0;
}

.dropdown-content a:hover {
    background-color: #a44cd3;
}

/*Main content*/

/*Title and Logout Button*/

.settings-header {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.logout-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
}

.logout-button:hover {
    background-color: #c0392b;
}

/* Profile Pic Section */
.profile-pic-section, .public-info-section, .account-section {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
}

.profile-pic-container, .public.info-container, .account-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.change-image-btn {
    background-color: #a44cd3;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.change-image-btn:hover {
    background-color: #8a3cb4;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #ffffff;
    padding: 20px;
    width: 300px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
}

.url-input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*Public Info Section*/
.input-group {
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

label {
    width: 100px;
    font-size: 1.7em;
    color: #555;
}

.input-group #username, #location, #email[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Account Info Section */
.account-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}


/* Location Map */
.location-map {
    width: 100%;
    height: 150px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1em;
    margin-top: none;
}

.location-title {
    font-size: 1.7em;
    color: #555;
    margin: 0;
}

/*Save Changes Button Styles*/
.buttons-section {
    display: flex;
    flex-direction: row;
}
.save-changes-button {
    display: block;
    margin: 30px auto;
    padding: 12px 30px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-changes-button:hover {
    background-color: #45a049;
}

.delete-account-button {
    display: block;
    margin: 30px auto;
    padding: 12px 30px;
    background-color: #e74c3c;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-account-button:hover {
    background-color: #c0392b;
}

/* General Styles for Smaller Screens */
@media (max-width: 768px) {
    /* Header */
    .header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  
    .logo-text{
      display: none;
    }
  
    /* Navigation buttons */
    .nav-btn span { 
      display: none;  /* Hide text in buttons */
    }
  
    .nav-btn i {
      font-size: 24px; /* Adjust icon size if needed */
    }
  
    /* Make sure buttons stay horizontal */
    .nav-buttons {
      display: flex;
      gap: 10px;
    }
  
    /* Navbar */
  
    .navbar a {
      display: none;
    }
  
    .dropdown-content a{
      display: flex;
    }

    /* Settings Header Section */
    .settings-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .logout-button {
        margin-top: 10px;
        align-self: center;
    }

    /* Profile Pic Section */
    .profile-pic-section, .public-info-section, .account-section {
        width: 90%;
        padding: 15px;
        margin-top: 20px;
    }

    .profile-pic-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-pic {
        width: 80px;
        height: 80px;
    }

    .change-image-btn {
        margin-top: 10px;
    }

    /* Public Info Section */
    .input-group {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    label {
        font-size: 1.5em;
    }

    .input-group input[type="text"] {
        width: 100%;
        padding: 8px;
        font-size: 1em;
    }

    /* Location Map */
    .location-map {
        height: 200px;
    }

    /* Account Info Section */
    .account-container {
        align-items: center;
        width: 100%;
    }

    /* Buttons Section */
    .buttons-section {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .save-changes-button, .delete-account-button {
        width: 90%;
        padding: 10px;
        font-size: 1em;
    }
  
    /* Footer */
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-logo-container {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 992px) {
    .search-btn{
      display: none;
    }
  
    /* Search Input */
    .container-input {
      width: 40%;
      margin: 20px;
    }

    
    .settings-header {
        max-width: 700px;
    }

    .profile-pic-section, .public-info-section, .account-section {
        max-width: 700px;
        padding: 20px;
    }

    .input-group {
        max-width: 100%;
        flex-direction: column;
    }

    label {
        font-size: 1.5em;
    }

    .input-group input[type="text"] {
        font-size: 1em;
    }

    .location-map {
        height: 250px;
    }
  }
