@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    color: #232528;
    margin-bottom: 10px;
}

/*code from https://uiverse.io/Praashoo7/tame-sloth-39*/
.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}

.input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
}

.btn {
    background-color: #232528;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #a44cd3;
}

.error-message {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
}
